.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-family: "Inter", sans-serif;

}

.container {
  max-width: 500px;
  width: 100%;

}

.toggleContainer {
 display: flex;
  background: #E3F3FB;
  border-radius: 20px;
  width: 250px;
  margin-bottom: 90px;
  align-items: center;
  margin-left: 90px;
}

.toggleOption {
  flex: 1;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, sans-serif;
  display: flex;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none; /* هنا */
}

.toggleOption img {
  width: 14px;
  height: 14px;
  padding-left: 30px;

}

.selected {
  background: #333;
  color: white;
}
.unselected {
  color: #a0aec0;
  border: none !important;
}

.unselected img {
  filter: hue-rotate(180deg);
}


.unselected img {
  filter: hue-rotate(180deg);
}


.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

.passwordField {
  position: relative;
  margin-bottom: 1.5rem;
}

.passwordField input {
  width: 100%;
  padding: 0.8rem 1rem;
  padding-right: 3rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.passwordField label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.eyeIcon {
  position: absolute;
  margin-top: 25px;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.setPasswordBtn {
  width: 100%;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #1f2a37;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.setPasswordBtn:hover {
  background-color: #111827;
}

.strengthText {
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.veryWeak {
  color: #e74c3c;
}

.weak {
  color: #e67e22;
}

.fair {
  color: #f1c40f;
}

.good {
  color: #2ecc71;
}

.strong {
  color: #27ae60;
}

.errorText {
  font-size: 0.85rem;
  color: #e74c3c;
  margin-top: 0.3rem;
}

.imageSection img {
  max-width: 400px;
  height: auto;
  border-radius: 30px;
  margin-left: 30px;
}
