.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* ⬅️ خلي العناصر متباعدة */
  background-color: white;
  padding: 4px 8px;
  gap: 5px;
  height: 48px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #1b1b1b;
  margin: 0;
  white-space: nowrap;
  flex: 1; /* ⬅️ خليه ياخد مساحة مرنة */
  text-align: start;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto; /* ⬅️ خليه يروح لأقصى اليمين */
}

.notificationLink {
  position: relative;
}

.bellIcon {
  font-size: 20px;
  color: #1e1f20;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 5px;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 14px;
  color: #555;
}

.dropdownIcon {
  font-size: 14px;
  color: #555;
}
.backIcon{
  color: #1e1f20;
  cursor: pointer;
background-color: transparent;
  border: none;
}
.backButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}