.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius:15 px;
  }
  
  .logo img {
    height: 60px;
  }
  
  .navCenter {
    display: flex;
    gap: 30px;
  }
  
  .navCenter a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  .navCenter a:hover {
    color:#3E82C9;
  }
  
  .navRight {
    display: flex;
    gap: 15px;
  }
  
  .ctaButton {
    padding: 8px 16px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background-color: #3E82C9;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  .ctaButton:hover {
    background-color:#274b72;
  }
  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      padding: 40px 20px;
    }
  
    .hero, .illustration {
      max-width: 100%;
      text-align: center;
    }
  
    .hero h1 {
      font-size: 2.2rem;
    }
  
    .hero p {
      font-size: 1rem;
    }
  
    .btn {
      justify-content: center;
    }
  }