.section {
  padding: 60px 5%;
  background-color: #f9f9f9;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* خليها مرنة بدل أرقام ثابتة */
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px; /* قللناها شوية */
  width: 100%;
  padding: 0 20px; /* عشان يمنع الكروت من الخروج */
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%; /* خلى الكارد ياخد عرض العمود */
  height: 170px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px);
}

.iconWrapper {
  flex-shrink: 0;
  margin-right: 15px;
  margin: 15px 0 0 0;
}

.iconWrapper img {
  width: 60px;
  height: 60px;

}

.text {
  flex: 1;
  order: -1;
}

.text .title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3E82C9;
  text-align: left;
}

.text .desc {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.5;
  text-align: left;
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 40px 20px;
  }

  .hero, .illustration {
    max-width: 100%;
    text-align: center;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn {
    justify-content: center;
  }
    .grid {
    grid-template-columns: 1fr;
  }
}